.littlechange{
  font-family: 'Quicksand', sans-serif !important;
  font-weight: bold;
}

.bookimage{
  width: 100%;
}
.allbookdiv{
  height: 100%;
}
.booktitle{
  inline-size: fit-content;
  padding-top: 10% !important;
margin-left: 5%;
width: 90%;
font-family: 'Quicksand', sans-serif !important;
font-weight: bold;


}
.padcont{
  margin-top: auto;
}
